* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: inherit;
}

body {
    box-sizing: inherit;
    font-family: Arial, sans-serif;
}

/* COLORS: */
/* STANDARD-BLUE: #02A5FF */

header {
    margin: 2rem;
}

a {
    text-decoration: none;
}

header span,
.heading-primary,
.timer {
    font-size: 3rem;
    font-weight: 800;
    line-height: 5rem;
    vertical-align: middle;

    display: inline-block;
    padding: 0 1.2rem;

    -webkit-text-stroke: 2px #02A5FF;
    color: #ffffff;
    /* text-shadow:
        3px 3px 0 #02A5FF,
      -1px -1px 0 #02A5FF,  
       1px -1px 0 #02A5FF,
       -1px 1px 0 #02A5FF,
        1px 1px 0 #02A5FF; */

    text-transform: uppercase;
}

.logo {
    vertical-align: middle;
    cursor: pointer;
}

.logo-small {
    width: 2rem;
    height: auto;
}

.logo-main {
    vertical-align: top;
    height: 5rem;
    width: auto;
}

.logo-medium {
    height: 3rem;
    width: auto;
}

.settings-logo {
    float: right;
    margin: .4rem;
}

main {
    margin: 2rem 0;
}

.inner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
    height: 100px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.row {
    display: block;

}

.col-1-2 {
    width: 50%;
    padding: 0;
    margin: 0;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.subject.right,
.subject.left {
    width: 49%;
}

.subject {
    background-color: #ffffff;
    border: solid 2px #02A5FF;
    border-radius: 10px;
    text-align: center;

    margin: 0 auto;
    width: 100%;

    position: relative;
    display: block;

    transition: all .2s ease-out;
}

.subject > a {
    display: block;
}

.subject:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.subject:hover .heading-primary {
    color: rgba(2, 166, 255, 0.1);
}

.currentSubject {
    width: 60%;
    /* display: inline-block; */
    height: 8rem;
    line-height: 8rem;
}

.timer {
    display: inline-block;
}

.currentSubject:hover .currentSubject-links {
    opacity: 1;
    display: block;
}

.currentSubject-links {
    background-color: #02A5FF;
    border-radius: 10px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    padding: 1rem;

    transition: all .3s ease-out;

    opacity: 0;
    display: none;

    z-index: 1000;
}

.subject-small {
    width: 60%;
}

.subject-small .heading-primary {
    font-size: 2rem;
}

.allSubjects .row .col-1-2 {
    padding: 1rem;
}

.subjects {
    width: 100%;
}

.link {
    cursor: pointer;
}

.doc {
    position: relative;
}

.doc iframe{
    width: 100%;
    height: 100%;
    min-height: 600px;

    border: 4px solid #02A5FF;
    border-radius: 10px;
}

.center {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.inline-center {
    text-align: center;
}

span#togglebutton { 
    position:absolute; 
    right:0; 
    top:0; 
    background-color:#02A5FF;
    padding:20px; 
    color:white; 
    font-size: 2rem;
    cursor: pointer;

   
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.max { 
    position:fixed; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    border:0 none; 
    z-index:9; 
    border-radius: 0 !important;
}

.max ~ #togglebutton {
    z-index: 10;
    top: 0;
    border-top-right-radius: 0;
    right: 0;
    position: fixed;
}

.iframe.max {
    border-radius: 0 !important;
}

a.subject {
    text-decoration: none;
    z-index: 100;
}

td.col-1-2.subject {
    margin: 1rem 0;
}